html, body {
  height: 100%;
  width: 100%;
}

img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fadein 2s;
  &:hover {
    opacity: 0;
    animation: fadeout 2s;
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}